<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>HOME</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/actions.js"></script>
</head>


<body>
    

    <div class="wrapper">

        <div class="form-inner" style="text-align: center; margin-top: 250px; ">
            <p class="greeding">Choose the room you are in... </p>

            <form method="GET" action="/camera">
                <input type="submit" class="btn btn-primary btn-lg btn-block" style="margin: 15px; width:500px;"
                    value="OFFICE ROOM"></input>
            </form>

            <p />
            <!-- ΕΔΩ ΣΕ ΕΠΟΜΕΝΗ ΦΑΣΗ ΘΑ ΓΙΝΟΥΝ ΚΑΙ ΤΑ ΑΛΛΑ ΚΟΥΜΠΙΑ ΙΝΠΟΥΤ ΠΡΟΣ ΤΟ ΠΑΡΟΝ ΠΑΜΕ ΝΑ ΦΤΙΑΞΟΥΜΕ ΤΟ ΠΡΩΤΟ ΝΑ ΑΝΟΙΓΕΙ 
                ΚΑΜΕΡΑ ΚΑΙ ΝΑ ΚΑΝΕΙ ΠΡΑΓΜΑΤΑ-->
            <button onclick="my_func()" type="button" class="btn btn-secondary btn-lg btn-block" style="margin: 15px; width:500px;">LIVING ROOM</button>
        </div>

    </div>



</body>

</html>