<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>HOME</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" ;>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="/js/actions.js"></script>
</head>



<body>


    <div class="wrapper">

        <div class="form-inner" style="text-align: center; margin-top: 250px; ">
            <p class="greeding">Choose the room you are in... </p>

            <form method="GET" action="/officecamera">
                <input type="submit" class="btn btn-primary btn-lg btn-block" style="margin: 15px; width:350px;"
                    value="OFFICE ROOM"></input>
            </form>

            <form method="GET" action="/livingcamera">
                <input type="submit" class="btn btn-primary btn-lg btn-block" style="margin: 15px; width:350px;"
                    value="LIVING ROOM"></input>
            </form>
            <p />
        </div>

    </div>



</body>

</html>